<main-app title="Register">
    <app-show-auth-result-errors [authResult]="authResult" />

    <mat-vertical-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="registerForm" [completed]="registerForm.valid">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <ng-template matStepLabel>Fill out your register data</ng-template>
            <br>
            <!-- Name -->
            <app-name-input formControlName="name" hintStr="Min 3 characters" width="40%" />
            <br />

            <!-- Email -->
            <app-email-input formControlName="email" email [required]="false" width="40%" />
            <br />

            <!-- Password -->
            <app-password-input label="Password" hintStr="Min 8 characters" formControlName="password" width="40%" />
            <br />

            <!-- Confirm Password -->
            <app-password-input label="Confirm Password" modelName="Confirm Password" hintStr="Min 8 characters" formControlName="passwordConfirm" width="40%" />
            <mat-error *ngIf="registerForm.errors?.['notMatching'] && registerForm.get('passwordConfirm')?.touched && registerForm.get('passwordConfirm')?.dirty && registerForm.get('password')?.touched">
                Passwords do not match.
            </mat-error>
            <br />
        
            <div >
                <button type="button" mat-button matStepperNext>
                    <mat-icon>arrow_forward</mat-icon> Next
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="personalDataForm" optional="false" [completed]="personalDataForm.valid">
        <form [formGroup]="personalDataForm">
            <ng-template matStepLabel>Fill out your personal data</ng-template>
            <br>
            <div class="row">
                <div class="col">
                    <!-- Birthday -->
                    <app-short-card title="Birthday" width="80%">
                        <app-date-input 
                            formControlName="birthday" 
                            label="Birthday" 
                            modelName="Birthday"
                            [maxDate]="maxBirthdayDate" 
                            [required]="true" 
                            width="100%" />
                    </app-short-card>
                    <br />
                     <!-- Weight -->
                    <app-model-weight-input 
                        [weightTypeValue]="preferableWeightType" 
                        [weightMaxValue]="1000"
                        formControlName="weight" 
                        width="80%"
                        [required]="true" />
                    <br />
                     <!-- Body Fat Percentage -->
                    <app-short-card title="Body Fat Percentage" width="80%">
                        <app-body-fat-percentage-input 
                            formControlName="bodyFatPercentage"
                            width="100%" 
                            [required]="true"/>
                    </app-short-card>
                </div>
                <div class="col">
                    <!-- Gender -->
                    <app-short-card title="Gender" width="80%">
                        <app-gender-selector 
                            formControlName="gender" 
                            width="100%" 
                            [required]="true" />
                    </app-short-card>
                    <br />
                        <!-- Height -->
                        <app-model-size-input 
                            [sizeTypeValue]="preferableSizeType" 
                            modelName="Height"
                            [sizeMaxValue]="300"
                            label="Height:" 
                            sizeLabel="Height"
                            formControlName="height" 
                            width="80%"
                            [required]="true" />
                </div>
            </div>
            <br />
            <div>
                <button type="button" mat-button matStepperPrevious>
                    <mat-icon>arrow_back</mat-icon> Back
                </button>
                <button type="button" mat-button matStepperNext>
                    <mat-icon>arrow_forward</mat-icon> Next
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="rememberMeForm">
        <form [formGroup]="rememberMeForm">
            <ng-template matStepLabel>Done</ng-template>
            <br>
            <!-- Remember Me -->
            <mat-checkbox formControlName="rememberMe">Remember Me</mat-checkbox>
            <br /><br />
            <div>
                <button type="button" mat-button matStepperPrevious>
                    <mat-icon>arrow_back</mat-icon> Back
                </button>
                <button type="button" mat-button (click)="stepper.reset()">
                    <mat-icon>restart_alt</mat-icon> Reset
                </button>
                <button type="submit" color="primary" mat-flat-button (click)="register()"
                        [disabled]="registerForm.invalid || personalDataForm.invalid">
                    <mat-icon>send</mat-icon> Register
                </button>
            </div>
        </form>
    </mat-step>
  </mat-vertical-stepper>
</main-app>