<app-short-card [title]="label ?? 'Size:'" [width]="width">
   <form [formGroup]="modelSizeForm">
      <!-- Size -->
      <app-size-input
         formControlName="size"
         [minValue]="sizeMinValue"
         [maxValue]="sizeMaxValue"
         [required]="required"
         [label]="sizeLabel"
         [width]="sizeWidth"
         [sizeType]="modelSizeForm.get('sizeType')?.value" 
         [isShortSizeType]="sizeIsShortSizeType"
         [hintStr]="sizeHintStr" />

      <!-- Size Type -->
      <app-size-type-selector 
         formControlName="sizeType"
         [required]="true"
         [label]="sizeTypeLabel"
         [width]="sizeTypeWidth"
         [isShortForm]="sizeTypeIsShortForm" />
   </form>
</app-short-card>