<base-app [title]="title">
    <p *ngIf="this.id && !equipment"><em>Loading...</em></p>

    <!-- Name -->
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput [(ngModel)]="equipment.name" required minlength="3" placeholder="Insert Name" #name="ngModel">
        <mat-error [hidden]="name.valid || name.untouched">
            Name must be at least 3 characters long
        </mat-error>
    </mat-form-field>
    <br />

    <div>
        <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="name.invalid">
          {{ this.id ? "Save" : "Create" }}
        </button>
        <button type="button" mat-flat-button color="secondary" [routerLink]="['/equipments']">
            Cancel
        </button>
    </div>
</base-app>