<mat-form-field [style.width]="width" class="app-input">
    <mat-label>{{ label ?? 'Password' }}</mat-label>
    <input matInput placeholder="Insert Password" 
        [formControl]="internalControl"
        [pattern]="pattern"
        [required]="required"
        [minlength]="minLength"
        [maxlength]="maxLength ?? null"
        [type]="hidePassword() ? 'password' : 'text'" 
        (blur)="onTouched()"
    />
    <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword()">
        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-hint *ngIf="hintStr">{{ hintStr }}</mat-hint>
    <mat-error *ngIf="internalControl.errors?.['required'] && internalControl.touched">
        {{modelName}} is required.
    </mat-error>
    <mat-error *ngIf="internalControl.errors?.['minlength'] && internalControl.touched">
        {{modelName}} must be at least {{minLength}} characters long.
    </mat-error>
    <mat-error *ngIf="internalControl.errors?.['maxlength'] && internalControl.touched">
        {{modelName}} must be no longer than {{maxLength}} characters long.
    </mat-error>
    <mat-error *ngIf="internalControl.errors?.['pattern'] && internalControl.touched">
        {{modelName}} not valid.
    </mat-error>
</mat-form-field>
