<mat-form-field [style.width]="width">
    <mat-label>{{ label ?? 'Password' }}</mat-label>
    <input matInput placeholder="Insert Password" 
            [(ngModel)]="password"
            [type]="hidePassword() ? 'password' : 'text'" 
            [required]="required" 
            [minlength]="minlength"
            [pattern]="pattern"
            (blur)="onTouched()"
            #passwordInput="ngModel" />
    <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword()">
        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-hint *ngIf="hintStr">{{ hintStr }}</mat-hint>
    <mat-error *ngIf="passwordInput.errors?.['required'] && passwordInput.touched">
        {{modelName}} is required.
    </mat-error>
    <mat-error *ngIf="passwordInput.errors?.['minlength'] && passwordInput.touched">
        {{modelName}} must be at least {{minlength}} characters long.
    </mat-error>
    <mat-error *ngIf="passwordInput.errors?.['pattern'] && passwordInput.touched">
        {{modelName}} not valid.
    </mat-error>
</mat-form-field>
