<main-app title="User Progress">
    <ng-container *ngIf="!userProgress; else userProgressTemplate">
        <mat-spinner diameter="60" />
    </ng-container>
    <ng-template #userProgressTemplate>
        <ng-template #noWorkoutsTemplate>
            <h3><i>You have not completed any workouts yet...</i></h3>
        </ng-template>
        <ng-container *ngIf="userProgress.totalWorkouts; else noWorkoutsTemplate">
            <div class="row">
                <div class="col">
                    <app-short-card title="Progress">
                        <table class="table" *ngIf="userProgress">
                            <tbody>
                                <tr>
                                    <th>Total Workouts:</th>
                                    <td>{{ userProgress.totalWorkouts }}</td>
                                </tr>
                                <tr>
                                    <th>Total Weight Lifted:</th>
                                    <td>{{ showBigNumberStr(roundWeight(userProgress.totalWeightLifted.weight)) }} {{ showWeightTypeShort(userProgress.totalWeightLifted.weightType) }}</td>
                                </tr>
                                <tr>
                                    <th>Total Duration</th>
                                    <td>{{ showTime(userProgress.totalDuration) }}</td>
                                </tr>
                                <tr>
                                    <th>First Workout Date:</th>
                                    <td>{{ userProgress.firstWorkoutDate | date:'d MMMM yyyy' }}</td>
                                </tr>
                                <tr>
                                    <th>Count of Days since First Workout:</th>
                                    <td>{{ showCountOfSomethingStr(userProgress.countOfDaysSinceFirstWorkout, "day", "days") }} ({{showTime(totalDays)}})</td>
                                </tr>
                                <tr>
                                    <th>Average Workout Duration:</th>
                                    <td>{{ showTime(userProgress.averageWorkoutDuration) }}</td>
                                </tr>
                                <tr>
                                    <th>Frequency Per Week:</th>
                                    <td>{{ showCountOfSomethingStr(userProgress.frequencyPerWeek, "time", "times") }} per week</td>
                                </tr>
                            </tbody>
                        </table>
                    </app-short-card>
                    <br>
                    <app-short-card title="Workouts on Calendar" width="70%">
                        <app-readonly-calendar 
                            [selectedDates]="workoutDates" 
                            [minDate]="firstWorkoutDate"
                            [maxDate]="todayDate"
                            width="100%" />
                    </app-short-card>
                </div>
                <div class="col-md-1"></div>
                <div class="col">
                    <app-workouts-vs-rest-chart 
                        [workoutDays]="workoutDays"
                        [restDays]="restDays"
                        width="375px" />
                </div>
            </div>
        </ng-container>
    </ng-template>
</main-app>