<mat-spinner diameter="30" *ngIf="!workouts" />
<mat-form-field *ngIf="workouts | async as result" [style.width]="width">
    <mat-label>{{ label ?? "Select Workout..." }}</mat-label>
    <mat-select [(ngModel)]="selectedWorkoutId" (selectionChange)="onWorkoutIdSelected()" [required]="required" #workout="ngModel">
        <mat-option *ngIf="!required" class="none-option">--None--</mat-option>
        <mat-option *ngFor="let workout of result" [value]="workout.id">
            {{ workout.name }}
        </mat-option>
    </mat-select>
    <mat-error [hidden]="!required || workout.valid || workout.untouched">
        {{ errorMessage ?? 'Workout is required.' }} 
    </mat-error>
</mat-form-field>