<mat-form-field [style.width]="width"  class="app-input">
    <mat-label>{{ label ?? 'Body Fat Percentage (%):' }}</mat-label>
    <input matInput 
        placeholder="Insert Body Fat Percentage"
        type="number" 
        [min]="minValue"
        [max]="maxValue"
        [required]="required"
        [formControl]="internalControl"
        (input)="validateBodyFatPercentageInput($event)"
    >
    <span matSuffix>%</span>
    <mat-hint *ngIf="hintStr">{{ hintStr }}</mat-hint>
    <mat-error *ngIf="internalControl.errors?.['required'] && internalControl.touched">
        {{modelName}} is required.
    </mat-error>
    <mat-error *ngIf="(internalControl.errors?.['min'] || internalControl.errors?.['max']) && internalControl.touched">
       Value must be between {{minValue}}% and {{maxValue}}%.
    </mat-error>
</mat-form-field>
