<mat-spinner diameter="30" *ngIf="!roles" />
<mat-form-field *ngIf="roles | async as result" [style.width]="width">
    <mat-label>{{ label ?? "Select Roles..." }}</mat-label>
    <mat-select [(ngModel)]="selectedRoles" (selectionChange)="onRolesSelected()" multiple [compareWith]="compareWithById" [required]="required" #roles="ngModel">
        <mat-option (onSelectionChange)="noneOptionSelected()" *ngIf="!required" class="none-option" [disabled]="isDisabledNoneOption()">--None--</mat-option>
        <mat-option *ngFor="let role of result" [value]="role" [disabled]="isNoneOptionSelected">
            {{ role.name }}
        </mat-option>
    </mat-select>
    <mat-error [hidden]="!required || roles.valid || roles.untouched">
        {{ errorMessage ?? 'Roles are required.' }} 
    </mat-error>
</mat-form-field>