<main-app title="Muscle Sizes">
  <button type="button" mat-flat-button color="secondary" [routerLink]="['/account']">
    <mat-icon>reply</mat-icon> Account
  </button>
  <button type="button" color="primary" mat-flat-button [routerLink]="['/muscle-size']">
    <mat-icon>add</mat-icon> Add
  </button>
  <br/><br/>
  <ng-container *ngIf="!data; else muscleSizesTemplate">
    <mat-spinner diameter="60" />
  </ng-container>
  <ng-template #muscleSizesTemplate>
    <ng-template #noMuscleSizesTemplate>
      <h3><i>You have not added your muscle sizes yet...</i></h3>
    </ng-template>
    <ng-container *ngIf="totalCount || date || muscleId; else noMuscleSizesTemplate">
      <!-- Muscle -->
      <app-muscle-selector [(ngModel)]="muscleId" [isMeasurable]="true" (ngModelChange)="loadData()" [required]="false" />
      <br />

      <!-- Date -->
      <app-date-input [(ngModel)]="date" [maxDate]="maxDate" (ngModelChange)="loadData()" [required]="false" />
      <button *ngIf="date" mat-button color="accent" type="button" (click)="clearDate()">Clear Date</button>
      <br />

      <mat-button-toggle-group [(ngModel)]="sizeType" (change)="loadData()" *ngIf="totalCount">
        <mat-button-toggle value="cm">Cm</mat-button-toggle>
        <mat-button-toggle value="inches">Inches</mat-button-toggle>
      </mat-button-toggle-group>
      <br/><br/>

      <div class="row">
        <div class="col" *ngIf="muscleId && !date && data!.length > 1">
          <app-muscle-size-chart
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [totalCount]="totalCount"
            [data]="data"
            [isPaginator]="false"
            (pageChange)="onPageChange($event)" />
        </div>
        <div class="col">
          <app-muscle-size-table 
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [totalCount]="totalCount"
            [data]="data"
            (sortChange)="onSortChange($event)"
            (pageChange)="onPageChange($event)"
            (deleteItem)="onDeleteItem($event)" />
        </div>
      </div>
    </ng-container>
  </ng-template>
</main-app>
