<main-app title="Equipments">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" (selectedTabChange)="onEquipmentTabChange($event)">
    <mat-tab label="All" />
    <mat-tab label="Used"  />
    <mat-tab label="Yours"  />
    <mat-tab label="Internal" />
  </mat-tab-group>
 
  <ng-container *ngIf="!isAddingEquipment; else addEquipmentTemplate">
    <button *ngIf="(equipmentPageType !== 'internal' || isAdmin)" [hidden]="equipmentPageType !== 'yours' && equipmentPageType !== 'internal'" color="primary" mat-flat-button 
        (click)="startAddingEquipment()">
      <mat-icon>add</mat-icon><mat-icon>construction</mat-icon> Add
    </button>
  </ng-container>
  <ng-template #addEquipmentTemplate>
    <br>
    <app-short-card title="New Equipment" width="50%">
      <app-name-input  [(ngModel)]="addingEquipmentName" [required]="true" [minlength]="3" #nameAdding="ngModel" />
      <br>
      <app-photo-input [(ngModel)]="addingEquipmentPhoto" [required]="false" width="80%" #photoAdding="ngModel" />
      <br>
      <button [disabled]="nameAdding.invalid || photoAdding.invalid" mat-button color="primary" (click)="addEquipment()">
        <mat-icon>save</mat-icon> Save
      </button>
      <button mat-button color="warn" (click)="cancelAddingEquipment()">
        <mat-icon>cancel</mat-icon> Cancel
      </button>
    </app-short-card>
  </ng-template>
  <br/><br/>

  <ng-container *ngIf="!data; else equipmentsTemplate">
    <mat-spinner diameter="60" />
  </ng-container>
  <ng-template #equipmentsTemplate>
    <ng-template #noEquipmentsTemplate>
      <h3><i>
        {{equipmentPageType === 'yours' ? 'You have not added your equipments yet...' : 'There is no equipment yet...'}}
      </i></h3>
    </ng-template>
    <ng-container *ngIf="totalCount || filterQuery; else noEquipmentsTemplate">
      <mat-form-field>
        <input matInput #filter (keyup)="onFilterTextChanged(filter.value)"
              placeholder="Filter by name (or part of it)...">
      </mat-form-field>

      <app-show-validation-errors [validationErrors]="validationErrors"/>

      <table mat-table [dataSource]="data" 
          class="mat-elevation-z8"
          matSort (matSortChange)="loadEquipments()"
          [matSortActive]="sortColumn"
          [matSortDirection]="sortOrder">

        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>№</th>
            <td mat-cell *matCellDef="let i = index">{{ i + 1 + pageIndex * pageSize }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let equipment">
            <ng-container *ngIf="!isEditingEquipment(equipment.id); else editEquipmentTemplate">
              {{ equipment.name }}
            </ng-container>
            <ng-template #editEquipmentTemplate>
              <br>
              <app-name-input [(ngModel)]="editingEquipment!.name" [required]="true" [minlength]="3" hintStr="Min 3 characters" 
                #nameEditing="ngModel" (ngModelChange)="onNameChange(nameEditing)" width="100%" />
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="photo">
          <th mat-header-cell *matHeaderCellDef>Photo</th>
          <td mat-cell *matCellDef="let equipment">
            <ng-container *ngIf="!isEditingEquipment(equipment.id); else editEquipmentTemplate">
              <img src="{{ envProduction.baseUrl + equipment.image }}" aria-label="Photo" class="table-photo"
                height="50%" width="50%" *ngIf="equipment.image" />
            </ng-container>
            <ng-template #editEquipmentTemplate>
              <br>
              <app-photo-input [(ngModel)]="editingEquipmentPhoto" [previewUrl]="getPreviewUrl(editingEquipment!)" [required]="false" width="50%" 
                #photoEditing="ngModel" (ngModelChange)="onPhotoChange(photoEditing)" />
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" >
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let equipment">
            <ng-container *ngIf="!isEditingEquipment(equipment.id); else buttonsEditTemplate">
              <button type="button" mat-button color="primary" [routerLink]="[equipment.isOwnedByUser ? '/your-equipment' : '/equipment', equipment.id, 'details']">
                  <mat-icon>info</mat-icon> Details
              </button>
              <button type="button" mat-button color="warn" (click)="startEditingEquipment(equipment)" *ngIf="equipment.isOwnedByUser || isAdmin">
                <mat-icon>edit</mat-icon> Edit
              </button>
              <delete-button dialogTitle="Delete Equipment" [deleteFn]="deleteItem" [itemId]="equipment.id"  *ngIf="equipment.isOwnedByUser || isAdmin"/>
            </ng-container>
            <ng-template #buttonsEditTemplate>
              <button type="button" [disabled]="!isEditingNameValid || !isEditingPhotoValid" mat-button color="primary" (click)="saveEquipment()">
                <mat-icon>save</mat-icon> Save
              </button>
              <button type="button" mat-button color="warn" (click)="cancelEditingEquipment()">
                <mat-icon>cancel</mat-icon> Cancel
              </button>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [hidden]="!data"
        (page)="getData($event)"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [length]="totalCount"
        [pageSizeOptions]="[10, 20, 50]"
        showFirstLastButtons />
    </ng-container>
  </ng-template>
</main-app>