<main-app title="Password">
    <button type="button" mat-flat-button color="secondary" [routerLink]="[profilePath]">
        <mat-icon>reply</mat-icon> Back
    </button>
    <br/><br/>
    <mat-error *ngIf="errors">
        <ul>
            <li *ngFor="let error of errors">
              <mat-error>{{ error }}</mat-error>
            </li>
        </ul>
    </mat-error>
    <br/>
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <!-- Old Password -->
        <app-password-input label="Old Password" [required]="true" [minlength]="8" hintStr="Min 8 characters" formControlName="oldPassword" />
        <br />

        <!-- New Password -->
        <app-password-input label="New Password" [required]="true" [minlength]="8" hintStr="Min 8 characters" formControlName="newPassword" />
        <br />

        <!-- Confirm Password -->
        <app-password-input label="Confirm Password" [required]="true" [minlength]="8" hintStr="Min 8 characters" formControlName="passwordConfirmation" />
        <mat-error *ngIf="passwordForm.errors?.['notMatching'] && passwordForm.get('passwordConfirmation')?.touched && passwordForm.get('passwordConfirmation')?.dirty && passwordForm.get('newPassword')?.touched">
            Passwords do not match.
        </mat-error>
        <br />

        <div>
            <button type="submit" color="primary" mat-flat-button [disabled]="passwordForm.invalid">
                <mat-icon>edit</mat-icon> Change
            </button>
            <button type="button" mat-flat-button color="secondary" [routerLink]="[profilePath]">
                <mat-icon>cancel</mat-icon> Cancel
            </button>
        </div>
    </form>
</main-app>