<main-app title="Equipment Details">
    <button type="button" mat-flat-button color="secondary" [routerLink]="['/equipments']">
        <mat-icon>reply</mat-icon> Back
    </button>
    <br/><br/>
    <ng-container *ngIf="!equipmentDetails; else equipmentDetailsTemplate">
        <mat-spinner diameter="60" />
    </ng-container>
    <ng-template #equipmentDetailsTemplate>
        <mat-card class="card" *ngIf="equipmentDetails.equipment">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{ equipmentDetails.equipment.name }}</mat-card-title>
                    <img mat-card-image src="{{ envProduction.baseUrl + equipmentDetails.equipment.image }}" 
                        title="Equipment" class="image" *ngIf="equipmentDetails.equipment.image"/>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <br>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Muscles:</th>
                            <td>
                                <ng-container *ngIf="hasMuscles; else noMusclesTemplate">
                                    <mat-accordion>
                                        <mat-expansion-panel (opened)="musclePanelOpenState.set(true)" (closed)="musclePanelOpenState.set(false)">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> {{ musclePanelOpenState() ? 'Muscles:' : getMuscleNamesStr() }}</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li *ngFor="let muscle of equipmentDetails.muscles">
                                                {{ muscle.name }}
                                            </li>
                                        </ul>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                  </ng-container>
                                  <ng-template #noMusclesTemplate>
                                    <p class="none-option">No muscles yet</p>
                                  </ng-template>
                            </td>
                        </tr>
                        <tr>
                            <th>Exercises:</th>
                            <td>
                                <p *ngIf="!isExercises" class="none-option">No exercises yet</p>
                                <app-exercise-table 
                                    [pageIndex]="pageExerciseIndex"
                                    [pageSize]="pageExerciseSize"
                                    [totalCount]="totalExerciseCount"
                                    [data]="exercises"
                                    [displayedColumns] = "['index', 'name', 'photo','type', 'muscles', 'actions']"
                                    (sortChange)="onExerciseSortChange($event)"
                                    (pageChange)="onExercisePageChange($event)"
                                    (deleteItem)="onDeleteExercise($event)" 
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
            <mat-card-actions>
                <button type="button" mat-button color="primary" [routerLink]="[equipmentDetails.equipment.isOwnedByUser ? '/your-equipment' : '/equipment', equipmentDetails.equipment.id]">
                    <mat-icon>edit</mat-icon> Edit
                </button>
                <button type="button" mat-button color="warn" (click)="deleteEquipment()">
                    <mat-icon>delete</mat-icon> Delete
                </button>
            </mat-card-actions>
        </mat-card>
    </ng-template>
</main-app>