<ng-container *ngIf="!exerciseSet; else exerciseSetTemplate">
    <mat-spinner diameter="60" />
</ng-container>
<ng-template #exerciseSetTemplate>
    <div>
        <div *ngIf="exerciseSet.exerciseType == exerciseType.Reps || exerciseSet.exerciseType == exerciseType.WeightAndReps">
            <!-- Reps -->
            <app-short-card title="Reps" [width]="width">
                <app-reps-input 
                    [(ngModel)]="exerciseSet.reps" 
                    (ngModelChange)="onExerciseSetChange()"
                    width="100%" 
                    [required]="required" />
             </app-short-card>
             <br *ngIf="exerciseSet.exerciseType == exerciseType.WeightAndReps">
        </div>
        <div *ngIf="exerciseSet.exerciseType == exerciseType.Time || exerciseSet.exerciseType == exerciseType.WeightAndTime">
            <!-- Time -->
            <app-time-span-input 
                [(ngModel)]="exerciseSet.time" 
                [isWithSeconds]="true"
                (ngModelChange)="onExerciseSetChange()"
                [required]="required" 
                [width]="width" />
             <br *ngIf="exerciseSet.exerciseType == exerciseType.WeightAndTime">
        </div>
        <div *ngIf="exerciseSet.exerciseType == exerciseType.WeightAndReps || exerciseSet.exerciseType == exerciseType.WeightAndTime">
            <!-- Weight -->
            <app-model-weight-input 
                [(ngModel)]="exerciseSet.weight" 
                (ngModelChange)="onExerciseSetChange()"
                [weightTypeValue]="weightTypeValue" 
                [width]="width"
                [required]="required" />
        </div>
    </div>
</ng-template>