<ng-container *ngIf="!exerciseSet; else exerciseSetTemplate">
    <mat-spinner diameter="60" />
</ng-container>
<ng-template #exerciseSetTemplate>
    <div class="row">
        <div class="col-md-4" *ngIf="exerciseSet.exerciseType == exerciseType.Reps || exerciseSet.exerciseType == exerciseType.WeightAndReps">
            <!-- Reps -->
            <app-reps-input
                [(ngModel)]="exerciseSet.reps" 
                (ngModelChange)="onExerciseSetChange()"
                width="100%"
                [required]="required" />
        </div>
        <div class="col-md-6" *ngIf="exerciseSet.exerciseType == exerciseType.Time || exerciseSet.exerciseType == exerciseType.WeightAndTime">
            <!-- Time -->
            <app-short-time-span-input
                [(ngModel)]="exerciseSet.time" 
                [isWithSeconds]="true"
                (ngModelChange)="onExerciseSetChange()"
                [required]="required" 
                [width]="width" />
        </div>
        <div class="col-md-6" *ngIf="exerciseSet.exerciseType == exerciseType.WeightAndReps || exerciseSet.exerciseType == exerciseType.WeightAndTime">
            <!-- Weight -->
            <app-short-model-weight-input
                [(ngModel)]="exerciseSet.weight" 
                (ngModelChange)="onExerciseSetChange()"
                [weightTypeValue]="weightTypeValue" 
                width="100%"
                [required]="required" />
        </div>
    </div>
</ng-template>