<mat-form-field [style.width]="width">
    <mat-label>{{ label ?? 'Reps' }}</mat-label>
    <input matInput 
        [formControl]="internalControl"
        type="number" 
        placeholder="Insert Reps"
        [required]="required"
        [min]="minValue"
        [max]="maxValue ?? null"
    >
    <mat-hint *ngIf="hintStr">{{ hintStr }}</mat-hint>
    <mat-error *ngIf="internalControl.errors?.['required'] && internalControl.touched">
        {{modelName}} is required.
    </mat-error>
    <mat-error *ngIf="internalControl.errors?.['min'] && internalControl.touched">
        {{modelName}} must be above {{minValue}}.
    </mat-error>
    <mat-error *ngIf="internalControl.errors?.['max'] && internalControl.touched">
        {{modelName}} must be less than {{maxValue}}.
    </mat-error>
</mat-form-field>
