<mat-form-field [style.width]="width">
    <mat-label>{{ label ?? 'Reps' }}</mat-label>
    <input matInput 
        placeholder="Insert Reps"
        type="number" 
        [(ngModel)]="reps" 
        [min]="0" 
        [required]="required" 
        #repsInput="ngModel">
    <mat-hint *ngIf="hintStr">{{ hintStr }}</mat-hint>
    <mat-error *ngIf="repsInput.errors?.['required'] && repsInput.touched">
        {{modelName}} is required.
    </mat-error>
    <mat-error *ngIf="repsInput.errors?.['min'] && repsInput.touched">
        {{modelName}} must be a positive number.
    </mat-error>
</mat-form-field>
