<mat-form-field [style.width]="width">
    <mat-label>{{ label ?? 'Name' }}</mat-label>
    <input matInput placeholder="Insert Name" 
        [formControl]="internalControl"
        [minlength]="minLength"
        [maxlength]="maxLength ?? null"
        [required]="required"
        type="text" 
        (blur)="onTouched()"
    />
    <mat-hint *ngIf="hintStr">{{ hintStr }}</mat-hint>
    <mat-error *ngIf="internalControl.errors?.['required'] && internalControl.touched">
        {{modelName}} is required.
    </mat-error>
    <mat-error *ngIf="internalControl.errors?.['minlength'] && internalControl.touched">
        {{modelName}} must be at least {{minLength}} characters long.
    </mat-error>
    <mat-error *ngIf="internalControl.errors?.['maxlength'] && internalControl.touched">
        {{modelName}} must be no longer than {{maxLength}} characters long.
    </mat-error>
</mat-form-field>