<base-app title="Body Weights">
  <p *ngIf="!data"><em>Loading...</em></p>

  <button type="button" [hidden]="!data" color="primary" class="btn btn-outline-primary" [routerLink]="['/body-weight']">
    Add
  </button>
  <br/><br/>

  <mat-button-toggle-group [(ngModel)]="weightType" (change)="onToggleChange()">
    <mat-button-toggle value="kg">Kg</mat-button-toggle>
    <mat-button-toggle value="lbs">Lbs</mat-button-toggle>
  </mat-button-toggle-group>
  <br/><br/>
  <table mat-table [dataSource]="data"
      class="mat-elevation-z8"
      [hidden]="!data"
      matSort (matSortChange)="loadData()"
      [matSortActive]="defaultSortColumn"
      [matSortDirection]="defaultSortOrder">

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let bodyWeight">{{ bodyWeight.date | date:'d MMMM yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
        <td mat-cell *matCellDef="let bodyWeight"> {{ bodyWeight.weight }} {{weightType}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let bodyWeight">
          <button type="button" mat-button color="primary" [routerLink]="['/body-weight', bodyWeight.id]">Edit</button>
          <button type="button" mat-button color="warn" (click)="deleteBodyWeight(bodyWeight.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [hidden]="!data"
              (page)="getData($event)"
              [pageSize]="10"
              [pageSizeOptions]="[10, 20, 50]"
              showFirstLastButtons />
</base-app>