<main-app title="Body Weights">
  <button type="button" [hidden]="!data" color="primary" mat-flat-button [routerLink]="['/body-weight']">
    <mat-icon>add</mat-icon> Add
  </button>
  <br/><br/>

  <ng-container *ngIf="!data; else bodyWeightsTemplate">
    <mat-spinner diameter="60" />
  </ng-container>
  <ng-template #bodyWeightsTemplate>
    <ng-template #noBodyWeightsTemplate>
      <h3><i>You have not added your body weights yet...</i></h3>
    </ng-template>
    <ng-container *ngIf="totalCount || date; else noBodyWeightsTemplate">
      <app-date-input [(ngModel)]="date" (ngModelChange)="loadData()" [maxDate]="maxDate" [required]="false" />
      <button *ngIf="date" mat-button color="accent" type="button" (click)="clearDate()">Clear Date</button>
      <br />

      <mat-button-toggle-group [(ngModel)]="weightType" (change)="loadData()" *ngIf="totalCount">
        <mat-button-toggle value="kg">Kg</mat-button-toggle>
        <mat-button-toggle value="lbs">Lbs</mat-button-toggle>
      </mat-button-toggle-group>
      <br/><br/>
      
      <ng-container *ngIf="!date && data!.length > 1; else onlyTableTemplate">
        <div class="row">
          <div class="col">
            <app-body-weight-chart
              [pageIndex]="pageIndex"
              [pageSize]="pageSize"
              [totalCount]="totalCount"
              [data]="data"
              [isPaginator]="false"
              (pageChange)="onPageChange($event)" />
          </div>
          <div class="col">
            <app-body-weight-table 
              [pageIndex]="pageIndex"
              [pageSize]="pageSize"
              [totalCount]="totalCount"
              [data]="data"
              (sortChange)="onSortChange($event)"
              (pageChange)="onPageChange($event)"
              (deleteItem)="onDeleteItem($event)" />
          </div>
        </div>
      </ng-container>
      <ng-template #onlyTableTemplate>
        <app-body-weight-table 
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [totalCount]="totalCount"
          [data]="data"
          (sortChange)="onSortChange($event)"
          (pageChange)="onPageChange($event)"
          (deleteItem)="onDeleteItem($event)" />
      </ng-template>
    </ng-container>
  </ng-template>
</main-app>