<main-app [title]="title">
    <button type="button" mat-flat-button color="secondary" [routerLink]="[bodyWeightsPath]">
        <mat-icon>reply</mat-icon> Back
    </button>
    <br/><br/>
    <ng-container *ngIf="this.id && !bodyWeight; else editBodyWeightTemplate">
        <mat-spinner diameter="60" />
    </ng-container>
    <ng-template #editBodyWeightTemplate>
        <app-show-validation-errors [validationErrors]="validationErrors"/>
        <!-- Date -->
        <app-short-card title="Date" width="40%">
            <app-date-input 
                [(ngModel)]="bodyWeight.date" 
                [maxDate]="maxDate" 
                #date="ngModel" 
                width="100%"/>
        </app-short-card>
        <br />

        <!-- Weight -->
        <app-model-weight-input 
            [(ngModel)]="bodyWeight.weight" 
            [weightTypeValue]="preferableWeightType"
            [weightMaxValue]="1000" 
            [required]="true"
            width="40%" 
            #weight="ngModel" />
        <br>
        <div>
            <button type="button" color="primary" mat-flat-button (click)="onSubmit()" 
                    [disabled]="date.invalid || weight.invalid">
                <mat-icon>{{ this.id ? "edit" : "add_box" }}</mat-icon> {{ this.id ? "Save" : "Create" }}
            </button>
            <button type="button" mat-flat-button color="secondary" [routerLink]="[bodyWeightsPath]">
                <mat-icon>cancel</mat-icon> Cancel
            </button>
        </div>
    </ng-template>
</main-app>