<mat-form-field [style.width]="width"  class="app-input">
    <mat-label>{{ label ?? 'Date' }}</mat-label>
    <input matInput 
        [formControl]="internalControl"
        [matDatepicker]="picker" 
        placeholder="Insert Date" 
        [max]="maxDate"
        [min]="minDate"
        [required]="required"
    />
    <mat-datepicker-toggle matSuffix [for]="picker" />
    <mat-datepicker #picker />
    <mat-hint *ngIf="hintStr">{{ hintStr }}</mat-hint>
    <mat-error *ngIf="internalControl.errors?.['required'] && internalControl.touched">
        {{modelName}} is required.
    </mat-error>
    <mat-error *ngIf="internalControl.errors?.['min'] && internalControl.touched">
       Min {{modelName}} is {{ maxDate | date:'d MMMM yyyy' }}
    </mat-error>
    <mat-error *ngIf="internalControl.errors?.['max'] && internalControl.touched">
        Max {{modelName}} is {{ maxDate | date:'d MMMM yyyy' }}
     </mat-error>
</mat-form-field>