<main-app title="Login">
    <app-show-auth-result-errors [authResult]="authResult" />

    <app-short-card title="Name" width="40%">
        <app-name-input [(ngModel)]="loginModel.name" width="100%" [required]="true" hintStr="Min 3 characters" #name="ngModel" />
    </app-short-card>
    <br />
    <app-short-card title="Password" width="40%">
        <app-password-input [(ngModel)]="loginModel.password" width="100%" label="Password" [required]="true" [minlength]="8" hintStr="Min 8 characters" #password="ngModel" />
    </app-short-card>
    <br />
    <app-short-card title="Remember Me" width="40%">
        <mat-checkbox [(ngModel)]="loginModel.rememberMe">Remember Me</mat-checkbox>
    </app-short-card>
    <br /><br />
    <div>
        <button type="submit" color="primary" mat-flat-button (click)="login()"  [disabled]="name.invalid || password.invalid">
            <mat-icon>send</mat-icon> Login
        </button>
    </div>
</main-app>
