<mat-spinner diameter="30" *ngIf="!exercises" />
<mat-form-field *ngIf="exercises | async as result" [style.width]="width">
    <mat-label>{{ label ?? "Select Exercise..." }}</mat-label>
    <mat-select [(ngModel)]="selectedExerciseId" (selectionChange)="onExerciseIdSelected()" [required]="required" #exercise="ngModel">
        <mat-option *ngIf="!required" class="none-option">--None--</mat-option>
        <mat-option *ngFor="let exercise of result" [value]="exercise.id">
            <img src="{{ envProduction.baseUrl + 'resources/' + exercise.image }}" aria-label="Photo"
                width="10%" height="10%" *ngIf="exercise.image" />
            {{ exercise.name }}
        </mat-option>
    </mat-select>
    <mat-error [hidden]="!required || exercise.valid || exercise.untouched">
        {{ errorMessage ?? 'Exercise is required.' }} 
    </mat-error>
</mat-form-field>