<mat-spinner diameter="30" *ngIf="!equipments" />
<mat-form-field *ngIf="equipments | async as result" [style.width]="width">
    <mat-label>{{ label ?? "Select Equipments..." }}</mat-label>
    <mat-select [(ngModel)]="selectedEquipments" (selectionChange)="onEquipmentsSelected()" multiple [compareWith]="compareWithById" [required]="required" #equipments="ngModel">
        <mat-option *ngIf="!required" (onSelectionChange)="noneOptionSelected()" class="none-option" [disabled]="isDisabledNoneOption()">
            --None--
        </mat-option>  
        <mat-option *ngFor="let equipment of result" [value]="equipment" [disabled]="isNoneOptionSelected">
            <img src="{{ envProduction.baseUrl + 'resources/' + equipment.image }}" aria-label="Photo"
                width="10%" height="10%" *ngIf="equipment.image" />
            {{ equipment.name }}
        </mat-option>
    </mat-select>
    <mat-error [hidden]="!required || equipments.valid || equipments.untouched">
        {{ errorMessage ?? 'Equipments are required.' }} 
    </mat-error>
</mat-form-field>