<mat-form-field [style.width]="width">
    <mat-label>{{ label ?? 'Select Size Type...'  }}</mat-label>
    <mat-select [(ngModel)]="selectedSizeType" (selectionChange)="onSizeTypeSelected()" [required]="required" #sizeType="ngModel">
      <mat-option *ngIf="!required" class="none-option">--None--</mat-option>
      <mat-option *ngFor="let sizeType of sizeTypes" [value]="sizeType">
        {{ isShortForm ? showSizeTypeShort(sizeType) : showSizeType(sizeType) }}
        <span *ngIf="selectedSizeType && sizeType != selectedSizeType && size">({{ roundNumber(convertSizeValue(size, selectedSizeType!, sizeType), 1) }} {{showSizeTypeShort(sizeType)}})</span>
      </mat-option>
    </mat-select>
    <mat-error [hidden]="!required || sizeType.valid || sizeType.untouched">
      Size Type is required.
    </mat-error>
</mat-form-field>