<mat-form-field [style.width]="width">
    <mat-label>{{ label ?? 'Select Exercise Type...' }}</mat-label>
    <mat-select [(ngModel)]="selectedExerciseType" (selectionChange)="onExerciseTypeSelected()" [required]="required" #exerciseType="ngModel">
      <mat-option *ngIf="!required" class="none-option">{{ noneOptionStr ?? '--None--' }}</mat-option>
      <mat-option *ngFor="let exerciseType of exerciseTypes" [value]="exerciseType">
        {{ showExerciseType(exerciseType) }}
      </mat-option>
    </mat-select>
    <mat-error [hidden]="!required || exerciseType.valid || exerciseType.untouched">
      {{ errorMessage ?? 'Exercise Type is required.' }} 
    </mat-error>
</mat-form-field>