<main-app title="Muscles">
  <button type="button" color="primary" mat-flat-button [routerLink]="['/muscle']" *ngIf="isAdmin">
    <mat-icon>add</mat-icon><mat-icon>accessibility</mat-icon> Add
  </button>
  <br/><br/>
  
  <ng-container *ngIf="!data; else musclesTemplate">
    <mat-spinner diameter="60" />
  </ng-container>
  <ng-template #musclesTemplate>
    <ng-template #noMusclesTemplate>
      <h3><i>There are no muscles yet...</i></h3>
    </ng-template>
    <ng-container *ngIf="totalCount || filterQuery || parentMuscleId; else noMusclesTemplate">
      <app-muscle-selector [(ngModel)]="parentMuscleId" (ngModelChange)="loadData()" label="Select Parent Muscle..." [required]="false" />
      <br />

      <mat-form-field>
        <input matInput #filter (keyup)="onFilterTextChanged(filter.value)"
          placeholder="Filter by name (or part of it)...">
      </mat-form-field>

      <app-muscle-table 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [totalCount]="totalCount"
        [data]="data"
        (sortChange)="onSortChange($event)"
        (pageChange)="onPageChange($event)"
        (deleteItem)="onDeleteItem($event)" />
    </ng-container>
  </ng-template>
</main-app>